<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>CooperForte Desafio - Cadastro de Pessoa</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://is5-ssl.mzstatic.com/image/thumb/Purple115/v4/99/a7/97/99a7979a-d2e6-9e93-9e1a-dcf1130c8bc8/AppIcon-1x_U007emarketing-85-220-0-6.png/246x0w.jpg" width="30" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#!/pessoa"><span class="sr-only">Lista de Pessoas</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" ng-controller="PessoaController as vm" >
    <div class="col-md-12">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome Completo:" ng-model="vm.pessoa.nome">
                </div>
                <div class="form-group col-md-6">
                    <label for="cpf">CPF:</label>
                    <input type="text" class="form-control" id="cpf" placeholder="000.000.000-00" ng-model="vm.pessoa.cpf">
                </div>
            </div>
            <div class="form-group">
                <label for="endereco">Endereço:</label>
                <input type="text" class="form-control" id="endereco" placeholder="QNP 28 Conjunto U" ng-model="vm.pessoa.endereco.logradouro">
            </div>
            <div class="form-group">
                <label for="complemento">Complemento:</label>
                <input type="text" class="form-control" id="complemento" placeholder="Casa 48, Apartamento" ng-model="vm.pessoa.endereco.complemento">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="cidade">Cidade:</label>
                    <input type="text" class="form-control" id="cidade" ng-model="vm.pessoa.endereco.localidade">
                </div>
                <div class="form-group col-md-4">
                    <label for="nr">Número:</label>
                    <input type="text" class="form-control" id="nr" ng-model="vm.pessoa.endereco.numero">
                </div>
                <div class="form-group col-md-2">
                    <label for="uf">UF:</label>
                    <input type="text" class="form-control" id="uf" ng-model="vm.pessoa.endereco.uf">
                </div>
                <div class="form-group col-md-2">
                    <label for="cep">CEP:</label>
                    <input type="text" class="form-control" id="cep" ng-model="vm.pessoa.endereco.cep">
                </div>
            </div>

            <button ng-click="vm.cadastrarPessoa()" class="btn btn-primary" >Cadastrar</button>
        </form>
    </div>
</div>

</body>
</html>